/**************************/
/* ユーザー登録画面ＣＳＳ */
/**************************/

@charset "UTF-8";

/************/
/* 共通定義 */
/************/
h2 {
	margin			: 0;
	font			: 30px sans-serif;
	text-align		: center;
}

form {
	width			: 600px;
	margin			: 5em auto;
	border			: 1px solid #ccc;
	border-radius	: 1em;
	padding			: 1em;
}

ul {
	list-style		: none;
	margin			: 0;
	padding			: 0;
}
form li + li {
	margin-top		: 1em;
}
/********************/
/* ラベル項目の定義 */
/********************/
label {
	font			: 1em sans-serif;
	display			: inline-block;
	text-align		: right;
	width			: 150px;

/******************/
/* 入力項目の定義 */
/******************/
}input#uid{
	background		: silver;
}
input {
	font			: 1em sans-serif;
	width			: 350px;
	height			: 3em;
	box-sizing		: border-box;
	border-radius	: 5px;
}
input:focus {
	border-color	: #000;	
}

/****************/
/* ボタンの定義 */
/****************/
button {
	font			: 1em sans-serif;
	width			: 300px;
	height			: 3em;
	border-radius	: 5px;
}
.button {
	text-align		: center;
}